.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 74px;
    top: 0px;
    
    /* background-color: #000000; */
    background-color: #34c94b;
    padding-left: 10px;
    
   
    gap: 0px;
    opacity: 0px;
    background: #34C94B;
    

}
